@using _ChaffeeDemo.Models
@model IEnumerable<UserModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    <h3>Users List</h3>
    <table>
        <tr>
            <td><p><b>Id </b></p></td>
            <td><p><b>Firstname</b> </p></td>
            <td><p><b>Lastname </b></p></td>
            <td><p><b>Age</b></p></td>
        </tr>
        @foreach (UserModel user in Model) {
            <tr>
                <td>@user.Id</td>
                <td>@user.Firstname</td>
                <td>@user.Lastname</td>
                <td>@user.Age</td>
            </tr>
        }
    </table>
</body>
</html>
